[Desktop Entry]
Version=1.0
Name=Workspaces
Comment=Show workspace overview
Keywords=workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Exec=/usr/bin/skippy-xd --paging
Icon=xfce4-splash
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=workspaces
X-XFCE-Source=file:///usr/share/applications/xfce-workspaces-settings.desktop
Path=
