[Desktop Entry]
Type=Application
Exec=/usr/bin/firefox %u
Terminal=false
X-MultipleArgs=false
Icon=firefox
StartupWMClass=firefox
DBusActivatable=false
Categories=GTK;Network;WebBrowser;
StartupNotify=true
Name=Web Browser
X-XFCE-Source=file:///usr/share/applications/firefox.desktop
Comment=Browse the web
Path=
